@import "tailwindcss";

:root {
  /* FONTS */
  --font-expanded: "Special Gothic Expanded One", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-archivo: "Archivo", sans-serif;
  --font-ibm-plex: "IBM Plex Mono", sans-serif;
  
  /* COLORS */
  --hover-color: #fafafa;
  --grid-color: #e4e7ec;
  --primary-color: #B40102;
  --secondary-color: #8f99a8;
}

body {
  background-color: #FFFFFF;
}