@import "tailwindcss";

:root {
  /* FONTS */
  --font-expanded: "Special Gothic Expanded One", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-archivo: "Archivo", sans-serif;
  --font-ibm-plex: "IBM Plex Mono", sans-serif;
  
  /* COLORS */
  --grid-color: #F2f2f2;
  --primary-color: #B40102;
  --secondary-color: #707070;
}